.register_content_wrapper {
  background: #F8F8F8;
  height: 89vh;
  border-bottom: 5px solid #D2DFEB;
  overflow: scroll;



  .register_form_wrapper {
    padding: 30px;
    text-align: center;

    h4 {
      color: #5d5d5d;
      font-weight: 400;
    }

    .register_form {
      width: 18%;
      margin: 40px auto;

      .form-group {
        text-align: left;

        input {
          padding: 2.4vh 1vw;
          border-bottom: 4px solid #a3c9dc;
        }
      }
      button {
        width: 100%;
        background: #D4E1EC;
        font-weight: bold;
        font-size: 1.1rem;
        margin-top: 28px;
      }
    }
    p:nth-of-type(1) {
      margin-top: 40px;
    }

    .join_items_end_block {
      width: 35%;
      margin: 35px auto 0 auto;

      .j_items {
        position: relative;
        cursor: pointer;
        width: 15%;
        transition: background-color 0.1s, left 0.25s, border-bottom-width 0.2s;
        left: 0;

        div {
          margin-bottom: 25px;

          img {
            width: 40%;
          }

        }
      }

      .j_items:hover {
        left: 10px;
        background: #D4E1EC;
        border-radius: 7px;
        border-bottom-width: 1px;
      }
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
