.verifyWrapper {
  text-align: center;
  padding: 5vh 0 0 0;
  background: #F8F8F8;
  height: 89vh;
  border-bottom: 5px solid #D2DFEB;
  overflow: scroll;

  h4 {
    color: #5d5d5d;
    font-weight: 400;
  }

  button {
    width: 8%;
    background: #D4E1EC;
    font-weight: bold;
    font-size: 1.0rem;
    margin-top: 28px;
    outline: none;
    transition: box-shadow 0.3s;
  }
}

::-webkit-scrollbar {
  display: none;
}
