.headline {
  text-align: center;
  padding: 50px 0 5px;
  background: #E3EBF2;

  h1 {
    font-size: 3rem;
    color: #5d5d5d
  }
}

.featureslist {
  padding-top: 20px;
  padding-bottom: 25px;
  font-weight: 300;
  background: #E3EBF2;

  .container {
    .row {
      .col {
        text-align: center;
        img {
          width: 45px;
          margin-bottom: 18px;
        }
        p {
          font-size: 15px;
        }
      }
    }
  }
}

.styledemo-container {
  width: 100%;
  background-color: #f3f3f2;

  .demorow {
    width: 100%;
    text-align: center;
    padding: 10px;

    p {
      font-size: 1.25rem;
      font-weight: 300;
    }
    .demorow-iconbox {
      text-align: center;
      width: 5.6rem;
      display: inline-block;
      margin: 0 10px 0;
      position: relative;
      border-bottom: 5px solid rgba(0, 0, 0, 0);
      cursor: pointer;

      span {
        font-size: 0.9rem;
      }
      img {
        margin-top: 8px;
      }
    }
  }

  .demolist {
    padding: 15px 0 30px 0;
    margin: 0;
    border: 1px solid black;

    .search-result-container{
      background: none;
      padding-left:60px !important;
      margin:auto !important;
      border: 1px solid black;
      height: 120px;
    }
  }
}

.blue-gray-22 {
  background: #E3EBF2;
}


.gray-87 {
  background: #eeeeee;
  padding: 30px;

  .feature-slide-text {
    img {
      width: 64px;
      height: 64px;
    }
  }
}

.feature-slider {
  padding: 30px 0;

}

.feature-slide-text {
  padding: 30px;

  .snipicon64 {
    height: 64px;
    width: 64px;
  }

  h2 {
    font-size: 2rem;
    font-weight: 300;
  }

  img {
    width: 64px;
    height: 64px;
  }

  p {
    font-size: 0.9rem
  }
}

.feature-slides {
  padding:0;

  .carousel {
    position: relative;
  }

  .snip-indicators-override {
    bottom: -15px;
  }
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

